body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em;
}

.list {
  margin: auto;
  text-align: center;
  margin: 1em;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.list-item:hover {
  color: purple;
}

.delete {
  color: red;
}

input:checked + span {
  opacity: 20%;
}
